*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}


h1{
    text-align: center;
    font-size: 50px;
    color: navy;
    padding-top:200px;
}

h2{
    text-align: center;
    font-size: 40px;
    color: navy;
    padding-top:100px;
    font-weight: 100;

}

h3{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    color: navy;
}

button{
    margin: 10px auto;
    display: block;
    width: 100px;
    height: 50px;
    color: navy;
    background-color: lightgray;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
}

#container{
    margin: 0 auto;
    height: 100%;
}

#chatroom{
    border: 1px solid black;
    width: 60%;
    min-height: 75%;
    /* margin: 0 auto; */
    margin-left: 175px;
    padding-left: 10px;
    font:18px;
    color:darkblue;
    background-color: lightgray;
    display: inline-block;
    vertical-align: top;
}

#message{
    border: 1px solid black;
    width: 60%;
    height: 5%;
    display: block;
    margin: 10px auto;
    font-size:18px;
    color:darkblue;
    padding-left: 10px;
}

#new_msg{
    font-size:18px;
    font-weight: 600;
    color:darkblue;
}

#new_join{
    font-size:12px;
    font-style: italic;
    color:red;
}

#users{
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    width: 165px;
    min-height: 75%;


}